* {
  font-family: monospace;
  box-sizing: border-box;
}

.App {
  background-color: hsl(185, 41%, 84%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  letter-spacing: 5px;
}

.calc {
  background-color: hsl(0, 0%, 100%);
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 20px;
  justify-content: space-between;
}

.SideResult {
  width: 45%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 20px 20px;
}

.SideBill {
  width: 45%;
}

.SideResult article:first-child,
.SideResult article:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SideResult article:last-child button {
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 7px;
  width: 100%;
  padding: 15px;
  font-size: 20px;
}

.SideResult article:nth-child(1) p,
.SideResult article:nth-child(2) p {
  color: hsl(189, 41%, 97%);
  font-weight: 700;
  font-size: 20px;
}

.SideResult article:nth-child(1) p span,
.SideResult article:nth-child(2) p span {
  color: hsl(186, 14%, 43%);
}

.SideResult article:nth-child(1) p:last-child,
.SideResult article:nth-child(2) p:last-child {
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 40px;
}

.SideBill article:first-child h1 {
  color: hsl(186, 14%, 43%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SideBill article:last-child h1 {
  color: hsl(186, 14%, 43%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SideBill article:first-child input {
  background-color: hsl(189, 41%, 97%);
  outline: none;
  border: none;
  padding: 10px;
  width: 93%;
  text-align: end;
}

.SideBill article:first-child .inpBill {
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  display: flex;
  justify-content: end;
}

.SideBill article:last-child input {
  background-color: hsl(189, 41%, 97%);
  outline: none;
  border: none;
  padding: 10px;
  width: 93%;
  text-align: end;
}

.SideBill article:last-child .inpBill {
  background-color: hsl(189, 41%, 97%);
  width: 100%;
  display: flex;
  justify-content: end;
}

.SideBill article:nth-child(2) article {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.SideBill article:nth-child(2) h1 {
  color: hsl(186, 14%, 43%);
}

.SideBill article:nth-child(2) article button,
.SideBill article:nth-child(2) article input {
  padding: 15px;
  width: 145px;
  background-color: hsl(183, 100%, 15%);
  border: none;
  outline: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width:359px){
  .SideBill article:nth-child(2) article input, .SideBill article:nth-child(2) article button {
    width: 100%;
  }
}
@media (min-width:359px) and (max-width: 981px) {
  .App {
    height: max-content;
    
  }

  .calc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
  }

  .SideBill,
  .SideResult {
    width: 100%;
  }
  .SideBill{
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  .SideBill article:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
  }
}